@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

@font-face {
    font-family: 'ApercuRegular' ;
    src: url(FontsFree-Net-ApercuRegular.ttf) format('truetype');
 }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'ApercuRegular', sans-serif;
    font-weight: lighter;
    background-color: #f0f5f9;
}

main {
    height: 100vh;
    display: grid;
    place-content: center;
    /* text-align: center; */
}

main h1 {
    border: 2px dotted #333;
    margin: 50px;
    padding: 20px;
    text-align: center;
}

main ul {
    list-style-type: none;
}

main ul li {
    padding: 10px 0;
}

main ul li a {
    text-decoration: none;
    color: #000;
}

main ul li a:hover {
    text-decoration: underline;
    color: #152238;
    font-weight: bold;
}